<IfModule mod_rewrite.c>
	#URL átírás
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^([a-zA-Z0-9-]+)$ index.php?raceURL=$1
</ifModule>
ErrorDocument 404 /oke